:root {
  --white: #FFFFFF;
  --white-200: #e2eafc;

  --blue-200: lightblue;
  --blue-300: #98bfdc;
  --blue-500: #6da1d2;

  --color-background:#2b343e;  
  --color-background-button:#2980b9;
  --color-text-dark:#2c3e50;
  --color-text-light:#ecf0f1;
  --color-text-title:#1abc9c;
  --color-text-success:#2ecc71;
  --color-text-error:#c0392b;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--blue-200);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'DM sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

button {
  width: 100%;
  min-width: 120px;
  background: var(--blue-200);
  border: 0;
  padding: 1rem;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--blue-500);
}

button:hover {
  background: var(--blue-500);
}

button[disabled] {
  pointer-events: none;
}

@media(max-width: 768px){
  html {
    font-size: 87.5%;
  }
}